{% extends "base.html" %}
{% load bootstrap3 %}

{% block site_title %}
List all Hosts
{% endblock %}

{% block content %}
 <div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Host</th>
                <th>IP address</th>
                <th>Environment</th>
                <th>Accounts</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for host in object_list %}
        <tr>
            <td>{{ host.pk }}</td>
            <td><a href="{% url 'host_detail' host.id %}">{{ host.name }}</a></td>
            <td>{% if host.ipaddress != None %}{{ host.ipaddress }}{% endif %}</td>
            <td>{{ host.environment.name }}</td>
            <td>{{ host.get_accounts|length }}</td>
            <td>
                <a href="{% url 'host_detail' host.id %}">{% bootstrap_icon "eye-open" %}</a>
                <a href="{% url 'host_update' host.id %}">{% bootstrap_icon "pencil" %}</a>
                <a href="{% url 'host_delete' host.id %}">{% bootstrap_icon "trash" %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}